.container {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;

    background: var(--i-bg-color);
}

.links {
    margin-left: auto;
}

.link {
    margin-right: 15px;
}
