:root {
    // Шрифт
    --font-family-main: arial, helvetica, sans-serif;
    --font-size-s: 14px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 50px;
    --sidebar-width: 250px;
    --sidebar-width-closed: 80px;
    --wrapper-padding: 25px;

    // Переходы
    --theme-transition: 0.1s;
    --animation-transition: 0.5s;

    // z-индексы
    --modal-z-index: 100;

    // Цвета
    --overlay-background: rgb(30 56 92 / 60%);
    --modal-background: #ebebef;
    --modal-font-color: #1e325c;
    --red-primary: #f1250b;
    --red-secondary: #ee4e39;
    --notification-color: #fff;
    --notification-bg: #00000075;
    --rating: #dfb703;


    @media screen and (width<=1000px) {
        --sidebar-width: 200px;
    }
}