.container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top: 5px;
    background: var(--list-box-bg);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.button {
    display: flex;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: transparent;
    transition: transform 0.2s;

    &:active {
        transform: scale(0.98);
    }
}

.item {
    display: flex;
    column-gap: 5px;
    width: 100%;
    padding: 10px;
    color: var(--primary-color);
    text-align: start;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 3px;
    outline: transparent;
}

.active {
    background: var(--modal-overlay);
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}