.container {
    position: absolute;
    inset: 0;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-right: -10px;
    overflow: auto;
    transition: all var(--theme-transition);
    mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
}

.content {
    width: 1000px;
    margin: 0 auto;

    // @media screen and (width>=1920px) {
    //     width: 1500px;
    // }

    @media screen and (width<=1280px) {
        width: 800px;
    }

    @media screen and (width<=1150px) {
        width: 670px;
    }

    @media screen and (width<=1000px) {
        width: 620px;
    }

    @media screen and (width<=910px) {
        width: 570px;
    }

    @media screen and (width<=850px) {
        width: 500px;
    }

    @media screen and (width<=780px) {
        width: 470px;
    }
}

.commentTitle {
    margin-top: 25px;
}

.marginAddComment {
    margin-top: 15px;
}

.recommendationsTitle {
    margin: 25px 0 10px;
}

.recommendations {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}