.container {
    width: 100%;

    svg {
        width: clamp(30px, 5vw, 50px);
        height: clamp(30px, 5vw, 50px);
    }
}

.starIcon {
    cursor: pointer;
    transition: all 0.2s;
}

.normal {
    fill: none;
}

.hovered {
    fill: var(--primary-color);
    transform: scale(1.05);
}

.isSelected {
    cursor: auto;
}