.container {
    width: 100%;
}

.starIcon {
    cursor: pointer;
    transition: all 0.2s;
}

.normal {
    fill: none;
}

.hovered {
    fill: var(--primary-color);
    transform: scale(1.05);
}

.isSelected {
    cursor: auto;
}