.container {
    position: absolute;
    top: var(--wrapper-padding);
    bottom: var(--wrapper-padding);
    width: var(--sidebar-width-closed);
    background: var(--i-bg-color);
    border-radius: 8px;
    transition: width var(--animation-transition);
    will-change: transform;
}



.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toggle {
    position: absolute;
    top: 25px;
    left: calc(var(--sidebar-width-closed) / 2 - 10.5px);
}

.links {
    position: absolute;
    inset: 50px calc(var(--sidebar-width-closed) / 2 - 15px) 150px calc(var(--sidebar-width-closed) / 2 - 15px);
    display: flex;
    flex-direction: column;

}

.open {
    width: var(--sidebar-width);
}