.content {
    padding: 25px;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
}

.container {
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.avatarWrapper {
    display: flex;
}