.container {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

.input {
    &:not(:first-child) {
        margin-top: 5px;
    }

}