.content {
    padding: clamp(15px, 2vw, 25px);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.container {
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.avatarWrapper {
    display: flex;
}