.div_spiner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s;
    transition-delay: 0.1s;
}

// .spinner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     z-index: 2;
//     width: 50px;
//     height: 50px;
//     margin: -25px 0 0 -25px;
//     animation: rotate 2s linear infinite;

//     & .path {
//         stroke: var(--loader-color);
//         stroke-linecap: round;
//         animation: dash 1.5s ease-in-out infinite;
//     }

//     &.default {
//         stroke: var(--loader-color);
//     }

//     &.invert {
//         stroke: var(--i-loader-color);
//     }
// }

// @keyframes rotate {
//     100% {
//         transform: rotate(360deg);
//     }
// }

// @keyframes dash {
//     0% {
//         stroke-dasharray: 1, 150;
//         stroke-dashoffset: 0;
//     }

//     50% {
//         stroke-dasharray: 90, 150;
//         stroke-dashoffset: -35;
//     }

//     100% {
//         stroke-dasharray: 90, 150;
//         stroke-dashoffset: -124;
//     }
// }

// @keyframes rotate {
//     100% {
//         transform: rotate(360deg);
//     }
// }

// @keyframes dash {
//     0% {
//         stroke-dasharray: 1, 150;
//         stroke-dashoffset: 0;
//     }

//     50% {
//         stroke-dasharray: 90, 150;
//         stroke-dashoffset: -35;
//     }

//     100% {
//         stroke-dasharray: 90, 150;
//         stroke-dashoffset: -124;
//     }
// }

.show {
    opacity: 1;
}

.spinner_qM83 {
    animation: spinner_8HQG 1.05s infinite;

    &.default {
        fill: var(--i-bg-color);
    }

    &.invert {
        fill: var(--bg-color);
    }
}

.spinner_oXPr {
    animation-delay: 0.1s;
}

.spinner_ZTLf {
    animation-delay: 0.2s;
}

@keyframes spinner_8HQG {

    /* stylelint-disable-next-line rule-empty-line-before */
    0%,
    57.14% {
        transform: translate(0);
        animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }

    28.57% {
        transform: translateY(-6px);
        animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }

    100% {
        transform: translate(0);
    }
}