.tile {
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.3s;

    .imageWrapper {
        position: relative;
        flex-grow: 1;
        aspect-ratio: 4/3;
    }

    .img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }

    .date {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        background: var(--i-secondary-color);
        border-radius: 0 6px;
        opacity: 0;
    }

    &:hover {
        transform: scale(.99);

        .date {
            opacity: 1;
        }
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        height: clamp(30px, 1.5vw, 50px);
    }

    .types {
        p {
            width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .views {
        margin-left: auto;
    }

    .title {
        height: clamp(30px, 1.5vw, 50px);

        p {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    svg {
        fill: var(--secondary-color);
    }
}

.row {
    transition: transform 0.3s;

    .header {
        display: flex;
        column-gap: 15px;
        align-items: center;
    }

    .img {
        width: 100%;
        height: clamp(150px, 22vw, 400px);
        object-fit: cover;
        border-radius: 4px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}