.container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.leftSide {
    display: flex;
    column-gap: 25px;
    align-items: center;

    @media (aspect-ratio <=4/3) and (width <=1000px) {
        flex-direction: column;
        row-gap: 8px;
        align-items: flex-start;
    }
}