.container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.leftSide {
    display: flex;
    column-gap: 25px;
    align-items: center;
}