.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    width: 100%;
    max-height: clamp(150px, 15.5vw, 500px);
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        background: var(--i-scrollbar);
        background-clip: border-box;
        border: 1px solid transparent;
        border-radius: 10px;
    }
}