@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
    &>iframe {
        display: none;
    }
}

.main {
    min-height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
    transition: all var(--theme-transition);
}

.content {
    display: flex;
}

.pageWrapper {
    padding: 20px;
    flex-grow: 1;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}