@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/green';
@import 'themes/red';
@import 'themes/orange';
@import 'themes/cian';
@import 'themes/black';

body {
    font: var(--font-m);
}

.main {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    transition: background var(--theme-transition);
}

.storybook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
}

.content {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: var(--wrapper-padding);
    padding-bottom: 0;
}

.pageWrapper {
    position: relative;
    flex-grow: 1;
    max-width: calc(100vw - var(--sidebar-width-closed) - (var(--wrapper-padding) * 2 + 20px));
    margin-left: auto;
    transition-duration: var(--animation-transition);
    transition-property: max-width, margin-left;


    &.open {
        max-width: calc(100vw - var(--sidebar-width) - (var(--wrapper-padding) * 2 + 20px));
    }
}

.loader {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

*::-webkit-scrollbar-track {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    opacity: 0.7;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

*scrollbar-track {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 10px;
}

*scrollbar-thumb {
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
}