@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.main {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    transition: background var(--theme-transition);
}

.storybook {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
}

.content {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: var(--wrapper-padding);
}

.pageWrapper {
    flex-grow: 1;
    max-width: calc(100vw - var(--sidebar-width-closed) - (var(--wrapper-padding) * 2 + 20px));
    margin-left: auto;
    transition-duration: 0.3s;
    transition-property: max-width, margin-left;


    &.open {
        max-width: calc(100vw - var(--sidebar-width) - (var(--wrapper-padding) * 2 + 20px));
    }
}

.loader {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}