.black {
    --bg-color: #090909;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #090909;
    --i-secondary-color: #333;
    --modal-overlay: #040404aa;
    --skeleton-color: #ffffff3e;
    --skeleton-border: #ffffff48;
    --scrollbar: #fefefea8;
    --code-bg: #09090980;
    --card-bg: #fefefe14;
    --list-box-bg: #232222;
    --link-hover: #1313130e;
}