.cian {
    --bg-color: #115859;
    --bg-sidebar: #1c829481;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #115459;
    --i-secondary-color: #1c7894;
    --modal-overlay: #114f59aa;
    --skeleton-color: #21cae0;
    --skeleton-border: #27bbd8;
    --scrollbar: #fefefea8;
    --code-bg: #1c8c9481;
    --card-bg: #1c88949b;
    --list-box-bg: #15686d;
    --link-hover: #1cd9cc18;
}