.dark {
    --bg-color: #1e385c;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #1e325c;
    --i-secondary-color: #1c58d9;
    --modal-overlay: #1e325cAA;
    --skeleton-color: #1c58d9;
    --skeleton-border: #1c58d9;
    --scrollbar: #fefefea8;
    --code-bg: #1c58d963;
}