.green {
    --bg-color:#11593D;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #11593D;
    --i-secondary-color: #1c9466;
    --modal-overlay: #11593DAA;
}