.green {
    --bg-color: #11593D;
    --bg-sidebar: #1c946681;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #11593D;
    --i-secondary-color: #1c9466;
    --modal-overlay: #11593DAA;
    --skeleton-color: #1c9466;
    --skeleton-border: #1c9466;
    --scrollbar: #fefefea8;
    --code-bg: #1c946681;
    --card-bg: #1c946681;
}