:root,
.light {
    --bg-color: #ebebef;
    --i-bg-color: #1e385c;
    --primary-color: #1e325c;
    --secondary-color: #1c58d9;
    --i-primary-color: #fff;
    --i-secondary-color: #eeeded;
    --modal-overlay: #9595972c;
    --skeleton-color: #fff;
    --skeleton-border: #777;
    --scrollbar: #1e385ca9;
    --code-bg: #ffffff80;
}