.orange {
    --bg-color: #593411;
    --bg-sidebar: #94561c81;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #593411;
    --i-secondary-color: #94681c;
    --modal-overlay: #593d11aa;
    --skeleton-color: #e08021;
    --loader-color: #e08021;
    --skeleton-border: #d86827;
    --scrollbar: #fefefea8;
    --i-scrollbar: #e080214f;
    --code-bg: #94581c81;
    --card-bg: #94521cc3;
    --list-box-bg: #6d4115;
    --link-hover: #d9941c0e;
}