.red {
    --bg-color: #591111;
    --bg-sidebar: #941c1c81;
    --i-bg-color: #ebebef;
    --primary-color: #fff;
    --secondary-color: #eee;
    --i-primary-color: #591111;
    --i-secondary-color: #941c1c;
    --modal-overlay: #591111aa;
    --skeleton-color: #e02121;
    --skeleton-border: #d82727;
    --scrollbar: #fefefea8;
    --i-scrollbar: #e021214f;
    --code-bg: #941c1c81;
    --card-bg: #941c1cc3;
    --list-box-bg: #6d1515;
    --link-hover: #d91c1c0e;
}