.container {
    position: absolute;
    inset: 0;
    padding: 2px 5px 0 2px;
    margin-right: -10px;
    overflow-x: hidden;
    overflow-y: scroll;


    &.scrolling {
        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar);
        }
    }
}

.upButton {
    position: fixed;
    right: var(--wrapper-padding);
    bottom: var(--wrapper-padding);
    display: flex;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.show {
    .upButton {
        opacity: 1;
        transform: scale(1);

        &:active {
            transform: scale(0.97);
        }

        &:hover {
            filter: brightness(0.9);
        }
    }
}


.offsetTop {
    top: 200px;
}

.trigger {
    height: 20px;
}

.footer {
    width: 100%;
    height: var(--wrapper-padding);
}