.container {
    position: absolute;
    inset: 0;
    padding-right: 5px;
    padding-left: 2px;
    margin-right: -10px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        width: 5px;
        background-color: transparent;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        opacity: 0.7;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar);
        background-clip: border-box;
        border-radius: 10px;
    }
}

.offsetTop {
    top: 200px;
}

.trigger {
    height: 20px;
}