.container {
    position: absolute;
    inset: 0;
    padding: 2px 5px 0 2px;
    margin-right: -10px;
    overflow-x: hidden;
    overflow-y: scroll;


    &.scrolling {
        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar);
        }
    }
}

.offsetTop {
    top: 200px;
}

.trigger {
    height: 20px;
}

.footer {
    width: 100%;
    height: var(--wrapper-padding);
}