.container {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.title {
    width: 100%;
    font-weight: 600;
}

.text {
    min-width: 150px;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}


.fitContent {
    .text {
        min-width: fit-content;
    }
}

.default {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.default_invert {
    .title {
        color: var(--i-primary-color);
    }

    .text {
        color: var(--i-secondary-color)
    }
}

.error {
    .title {
        color: var(--red-primary);
    }

    .text {
        color: var(--red-secondary)
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}