@import '../../../1_app/styles/zoom';

.container {
    position: relative;
    width: 100%;
    padding: px(20);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
    transition: background-color var(--theme-transition);

    &.max {
        height: 100%;
    }
}

.border {
    border: px(1) solid transparent;
}

.container.hover {
    &:hover {
        filter: brightness(0.95);
    }
}

.default {
    background: var(--card-bg);
}

.outlined {
    background: var(--card-bg);
    border: 1px solid var(--secondary-color);
}

.smallPadding {
    padding: px(5) px(10);
}

.invert {
    background: var(--i-bg-color);
}

.fitContent {
    width: fit-content;
}