.container {
    display: flex;
    color: var(--i-primary-color);

    &:active {
        transform: scale(0.97);
    }
}

.clear {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}