.container {
    display: flex;
    font-family: var(--font-family-main);

    &:active {
        transform: scale(0.97);
    }
}

.clear {
    padding: 0;
    margin: 0;
    color: var(--i-primary-color);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.outline {
    padding: 5px 10px;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}