.container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;

    &.big {
        width: calc(100vw - var(--sidebar-width-closed));
        margin-left: var(--sidebar-width-closed);
    }

    &.open {
        width: calc(100vw - var(--sidebar-width));
        margin-left: var(--sidebar-width);
    }
}

.show {
    opacity: 1;
}