.container {
    width: 400px;
}

.border {
    border: 1px solid var(--i-secondary-color) !important;
}

.mobile {
    width: 100%;

    .border {
        border: 1px solid var(--secondary-color) !important;
    }
}