.container {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-left: 2px
}

.tab {
    cursor: pointer;
    transition: transform 0.2s;

    &:active {
        transform: scale(0.97);
    }
}