.container {
    position: fixed;
}

.systemButton {
    position: fixed;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.editButton {
    top: 130px;

    @media (aspect-ratio <=4/3) and (width <=1000px) {
        top: 110px;
    }
}